 body {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border: 5px solid black;
  width: 650px;
  height: 650px;
}

.line {
  display: flex;
  flex: 1 1 auto;
}

.column {
  flex: 1 1 auto;
  background-color: rgb(193, 243, 252);
}