 body {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 button {
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Optima', 'Lucida Console', 'Andalé Mono', 'Courier New', Courier, monospace;
    padding: 14px 40px;
    background-color:rgb(209, 154, 154);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)

 }

button:active {
  transform: translateY(4px);
}
 button:hover {
  background-color: rgb(139, 99, 99);
 }

 .container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border: 20px inset rgb(139, 99, 99) ;
  border-radius: 1.75em;
  padding: 5px;
  width: 650px;
  height: 650px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.line {
  display: flex;
  flex: 1 1 auto;
}

.box {
  flex: 1 1 auto;
  opacity: 0.1;
  background-color: rgb(255, 255, 255);
}